{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="row text-orange">
    <div class="login-form bg-dark mt-4 p-4">

    <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>

        {{ form_start(requestForm, {'attr': {'class': 'row g-3', 'novalidate': 'novalidate'} }) }}
            <div class="col-12">
                {{ form_row(requestForm.email) }}
            </div>

        <div class="text-orange">
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

            <div class="col-12">
                <button class="text-orange btn btn-lg btn-outline-light float-end">Send password reset email</button>
            </div>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
