@import "~bootstrap";
@import "~font-awesome";

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 0%;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: calc(0.25rem - 1px);
}

.bg-image-card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: calc(0.25rem - 1px);
}

.text-orange {
    color: #ff8000;

}

.text-top-end {
    text-align: right;
    text-shadow: 2px 2px 5px antiquewhite;
}

.object-fit {
    object-fit: cover;
}

.fixed-size-card-image {
    height: 250px;
}

.border-orange {
    border: 1px #ff8000 solid;
}

.btn-orange {
    background-color: #ff8000;
}

.card-rounded {
    border-radius: 5px;
}

.mt-neg {
    position: absolute;
    width: 100%;
    top: 0;
}

.img-preview {
    display: none;
    width: 155px;
    border: 2px dashed #333;
    margin-bottom: 20px;
}
.img-preview img {
    width: 100%;
    height: auto;
    display: block;
}

[type="file"] {
    overflow: hidden;
}
[type="file"] + label {
    font-family: sans-serif;
    background: #f44336;
    padding: 10px 30px;
    border: 2px solid #f44336;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}
[type="file"] + label:hover {
    background-color: #fff;
    color: #f44336;
}

.pagination li *{
    color: #ff8000 !important;
    border-color: #f8f9fa !important;
    background-color: #333333 !important;
}

.pagination li a:hover{
    background-color: #f8f9fa !important;
}

.pagination li span {
    opacity: 50%;
}