<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="bg-dark btn btn-lg pb-2"><span class="fa fa-trash text-orange"></span>
    </button>
</form>
