{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <h1 class="text-center">Create a new Trick</h1>

    {{ include('trick/_form.html.twig') }}

{% endblock %}
